
<div class="main">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="profile-section">
                <!-- <img src="path_to_admin_avatar.jpg" alt="Admin" class="profile-image"> -->
                <a ><img src="../../../assets/images/logo1.png" alt="" style="width:140px; height:37px"></a>
            </div >
            <div class="contents" style="color:white;" >
              <a  routerLink="dashboard"  style="color:white;" href="#"><i id ="icon" class="fas fa-tachometer-alt"></i>Dashboard</a>
              <a routerLink="view-users" style="color:white;" href="#" ><i id ="icon" class="fas fa-users"></i>Users</a>
              <a routerLink="view-expert"style="color:white;"  href="#"><i id ="icon" class="fas fa-box-open"></i>Experts</a>
              <a  routerLink="view-categories" style="color:white;" href="#"><i id ="icon" class="fas fa-tags"></i>Bookings</a>
              <!-- <a routerLink="view-orders" style="color:white;" href="#"><i id ="icon" class="fas fa-shopping-cart"></i>Orders</a> -->
            </div>
        </div>
    </div>
    <div class="main-content">
         <router-outlet></router-outlet>
    </div>
  </div> 
  