

<main>
    <section id="hero">
      <!-- <h4>Trade-in-offer</h4>
      <h2>Special Offer</h2>
      <h1>On all products </h1>
      <h1>On the store</h1>
      <p>save more coupons & up to 50% off!</p>
      <button>Connect now</button> -->
      <div id="slider">
        <figure>
          <img src="../../../assets/images/people/1.png">
          <img src="../../../assets/images/people/2.png">
          <img src="../../../assets/images/people/3.png">

          <img src="../../../assets/images/people/4.png">
          <!-- <img src="../../../assets/images/people/5.png">
          <img src="../../../assets/images/people/5.png"> -->
        </figure>
      </div>
    </section>
  
    <section id="features" class="section-p1">
      <div class="f-box">
        <img src="../../../assets/images/features/f1.png" alt="free shipping" />
        <h6>Videography</h6>
      </div>
      <div class="f-box">
        <img src="../../../assets/images/features/f2.png" alt="online order" />
        <h6>Photography</h6>
      </div>
      <div class="f-box">
        <img src="../../../assets/images/features/f3.png" alt="save money" />
        <h6>Music</h6>
      </div>
      <div class="f-box">
        <img src="../../../assets/images/features/f4.png" alt="promotions" />
        <h6>Lifestyle</h6>
      </div>
      <div class="f-box">
        <img src="../../../assets/images/features/f5.png" alt="happy sell" />
        <h6>Data</h6>
      </div>
      <div class="f-box">
        <img src="../../../assets/images/features/f6.png" alt="24/7 support" />
        <h6>Digital Marketing</h6>
      </div>
      <div class="f-box">
        <img src="../../../assets/images/features/f7.png" alt="24/7 support" />
        <h6>Graphic Designing</h6>
      </div>
    </section>
  
    <section class="product-section" class="section-p1">
   
      <h1 style="margin-left: 100px;">Meet Our Experts</h1>
      <!-- <p style="margin-left: 100px;">Summer Collection New Morden Design</p> -->
  
      <div class="pro-collection">
        <div class="display" style="display:flex; justify-content:center; flex-direction:row; gap:20px; flex-wrap:wrap">
          <div *ngFor="let exp of p" class="product-cart" style=" width:22.7%">
              <img style="height:270px; width: 440px;" src="{{exp.banner}}"  alt="" />

              <div class="name" style="display: flex; gap:12px; align-items:center">
                <span ><img src="{{exp.profile_image}}" style="width:39px; height:39px"  alt=""></span>
              <span style="color: rgb(53, 50, 50);font-weight:bold">{{exp.name}} </span>
              <span><img width="70" height="70" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" style="width: 20px;height:20px"/></span>
              </div>
              
              <div class="disc" style="margin-top: 17px;">
                <h4>{{exp.description}}</h4>
              </div>
             
             
              <div class="stars">
                
                  <i class="fa-solid fa-star"></i>
                  <h5>   4.9 (17)</h5>
              </div>
              <h4 class="price">Price: {{exp.salary}} ksh</h4>
              <a routerLink = "/view-expert-post"><i class="fa-solid fa-eye buy-icon"></i></a>
          </div>
          <!-- <div class="product-cart" style=" width:22.7%">
            <img style="height:270px; width: 440px;" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/224430626/original/11ea764e37c655fabac206a07ceb11fac5903d9f/be-your-divi-expert-for-wordpress-divi-website-using-divi-builder-divi-theme.jpg"  alt="" />
            <span ><img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:30px; height:20px"  alt="">Stephen Mark </span>
            <span><img width="48" height="48" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" style="width: 20px;height:20px"/></span>
            <h4>I will design responsive website in 4 hours. I will design responsive website for your business</h4>
           
            <div class="stars">
              
                <i class="fa-solid fa-star"></i>
                <h5>   4.9 (17)</h5>
            </div>
            <h4 class="price">From Ksh.10,000/=</h4>
             <a routerLink = "/view-expert-post"><i class="fa-solid fa-eye buy-icon"></i></a>
        </div> -->
        <!-- <div class="product-cart" style=" width:22.7%">
          <img style="height:270px; width: 440px;" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/224430626/original/11ea764e37c655fabac206a07ceb11fac5903d9f/be-your-divi-expert-for-wordpress-divi-website-using-divi-builder-divi-theme.jpg"  alt="" />
          <span ><img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:30px; height:20px"  alt="">Stephen Mark </span>
          <span><img width="48" height="48" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" style="width: 20px;height:20px"/></span>
          <h4>I will design responsive website in 4 hours. I will design responsive website for your business</h4>
         
          <div class="stars">
            
              <i class="fa-solid fa-star"></i>
              <h5>   4.9 (17)</h5>
          </div>
          <h4 class="price">From Ksh.10,000/=</h4>
           <a routerLink = "/view-expert-post"><i class="fa-solid fa-eye buy-icon"></i></a>
      </div>
      <div class="product-cart" style=" width:22.7%">
        <img style="height:270px; width: 440px;" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/224430626/original/11ea764e37c655fabac206a07ceb11fac5903d9f/be-your-divi-expert-for-wordpress-divi-website-using-divi-builder-divi-theme.jpg"  alt="" />
        <span ><img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:30px; height:20px"  alt="">Stephen Mark </span>
        <span><img width="48" height="48" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" style="width: 20px;height:20px"/></span>
        <h4>I will design responsive website in 4 hours. I will design responsive website for your business</h4>
       
        <div class="stars">
          
            <i class="fa-solid fa-star"></i>
            <h5>   4.9 (17)</h5>
        </div>
        <h4 class="price">From Ksh.10,000/=</h4>
         <a routerLink = "/view-expert-post"><i class="fa-solid fa-eye buy-icon"></i></a>
    </div>
    <div class="product-cart" style=" width:22.7%">
      <img style="height:270px; width: 440px;" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/224430626/original/11ea764e37c655fabac206a07ceb11fac5903d9f/be-your-divi-expert-for-wordpress-divi-website-using-divi-builder-divi-theme.jpg"  alt="" />
      <span ><img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:30px; height:20px"  alt="">Stephen Mark </span>
      <span><img width="48" height="48" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" style="width: 20px;height:20px"/></span>
      <h4>I will design responsive website in 4 hours. I will design responsive website for your business</h4>
     
      <div class="stars">
        
          <i class="fa-solid fa-star"></i>
          <h5>   4.9 (17)</h5>
      </div>
      <h4 class="price">From Ksh.10,000/=</h4>
       <a routerLink = "/view-expert-post"><i class="fa-solid fa-eye buy-icon"></i></a>
  </div>
  <div class="product-cart" style=" width:22.7%">
    <img style="height:270px; width: 440px;" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/224430626/original/11ea764e37c655fabac206a07ceb11fac5903d9f/be-your-divi-expert-for-wordpress-divi-website-using-divi-builder-divi-theme.jpg"  alt="" />
    <span ><img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:30px; height:20px"  alt="">Stephen Mark </span>
    <span><img width="48" height="48" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" style="width: 20px;height:20px"/></span>
    <h4>I will design responsive website in 4 hours. I will design responsive website for your business</h4>
   
    <div class="stars">
      
        <i class="fa-solid fa-star"></i>
        <h5>   4.9 (17)</h5>
    </div>
    <h4 class="price">From Ksh.10,000/=</h4>
     <a routerLink = "/view-expert-post"><i class="fa-solid fa-eye buy-icon"></i></a>
</div> -->
        </div>
        
        <!-- <div class="controls">
          <div class="pagination-controls">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
              << Prev
            </button>
  
            <button
              (click)="goToPage(currentPage + 1)"
              [disabled]="currentPage === maxPage()"
            >
              Next >>
            </button>
          </div>
          <div class="pageno">Page {{ currentPage }} / {{ maxPage() }}</div>
        </div> -->
      </div>
  
      
    </section>
  
    <section id="off-banner" class="section-m1">
      <h4>Repaire Services</h4>
      <h2>Up to 70% Off - All t-Shirts & Accessories</h2>
      <button class="normal">Explore More</button>
    </section>
  
    <section class="section-p1">
      <div class="big-banners">
     
        
      </div>
    
    </section>
  
    <section id="newsletter">
      <div class="newsletter-text">
        <h3>Sign Up For Newsletters</h3>
        <h5>get e-mail updates about out latest news and <span>special offers</span></h5>
      </div>
      <div class="form">
        <input type="email" placeholder="Your email address" id="email-address-input">
        <button>Sign Up</button>
      </div>
    </section>
  
  </main>

  <app-footer></app-footer>
  